footer {
  background: var(--clr-tertiary);
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

footer p {
  font-size: 0.875rem;
  color: #fff;
}