// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font-family

$clr-primary: #fdf8f5;
$clr-secondary: #fff4f2;
$clr-tertiary: #a9597b;
