---
import Layout from '@/layouts/Layout.astro';

// Components
import Benefits from '@/components/Benefits.astro';
import Footer from '@/components/Footer.astro';
import Author from '@/components/Author.astro';
import About from '@/components/About.astro';
import FAQ from '@/components/FAQ.astro';
import Translators from '@/components/Translators.astro';
import FreeSample from '@/components/FreeSample.astro';
import FinalCTA from '@/components/FinalCTA.astro';
import Hero from '@/components/Hero.astro';
import Testimonials from '@/components/Testimonials.astro';

// Third-party components
import { SkipLink } from 'accessible-astro-components'
---

<Layout title="Alternativa Inclusiva" description="Bruno Pulis - Engenheiro de Software, desenvolvedor front-end e back-end, especialista em JavaScript, TypeScript, React, Node.js e muito mais.">
  <header>
    <SkipLink text="Ir para conteúdo principal" target="main-content" />
  </header>
  <Hero />
  <main id="main-content">
    <Benefits />
    <Testimonials />
    <Author />
    <About />
    <Translators />
    <FAQ />
    <FreeSample />
    <FinalCTA />
  </main>
  <Footer />
</Layout>
