---

import somaImg from  "@/assets/images/profiles/soma.avif"
---

<section
  id="author"
  aria-labelledby="author-title"
  class="relative scroll-mt-14 pt-8 pb-3 sm:scroll-mt-32 sm:pt-10 sm:pb-16 lg:pt-16"
>
  <div
    class="absolute inset-x-0 top-1/2 bottom-0 mask-[linear-gradient(transparent,white)] text-slate-900/10"
  >
    <svg aria-hidden="true" class="absolute inset-0 h-full w-full"
      ><defs
        ><pattern
          id=":S6:"
          width="128"
          height="128"
          patternUnits="userSpaceOnUse"
          x="50%"
          y="100%"
          ><path d="M0 128V.5H128" fill="none" stroke="currentColor"
          ></path></pattern
        ></defs
      ><rect width="100%" height="100%" fill="url(#:S6:)"></rect></svg
    >
  </div><div class="relative mx-auto max-w-5xl pt-16 sm:px-6">
    <div class="bg-slate-50 pt-px sm:rounded-6xl">
      <div
        class="relative mx-auto -mt-16 h-44 w-44 overflow-hidden rounded-full bg-slate-200 md:float-right md:h-64 md:w-64 md:[shape-outside:circle(40%)] lg:mr-20 lg:h-72 lg:w-72"
      >
        <img
          alt=""
          loading="lazy"
          width="576"
          height="576"
          decoding="async"
          class="absolute inset-0 h-full w-full object-cover"
          style="color:transparent"
          sizes="(min-width: 1024px) 18rem, (min-width: 768px) 16rem, 11rem"
          src={somaImg.src}
        />
      </div><div
        class="px-4 py-10 sm:px-10 sm:py-16 md:py-20 lg:px-20 lg:py-32"
      >
        <h2
          class="inline-flex items-center rounded-full px-4 py-1 text-red-600 ring-1 ring-red-600 ring-inset"
          id="author-title"
        >
          <span class="text-base font-bold tracking-tight">Autora</span>
        </h2>
        <p
          class="mt-8 font-display text-5xl font-extrabold tracking-tight text-slate-900 sm:text-6xl"
        >
          <span class="block text-primary">Soma Mukhopadhyay</span>
        </p>
        <p class="mt-4 text-lg tracking-tight text-slate-700">
          Soma Mukhopadhyay viveu na Índia até 2001, educando em casa seu filho
          autista Tito Rajarshi Mukhopadhyay. Como a comunicação da fala não era
          fácil para Tito, ela o ensinou a soletrar em uma máquina de escrever,
          mais tarde em um computador, bem como a escrever à mão de forma
          independente.
        </p>

        <p class="mt-4 text-lg tracking-tight text-slate-700">
          Eles foram apresentados em um documentário da BBC <strong lang="en"
            >"Tito's Story"</strong
          >. Até então, Tito, de 11 anos, já havia escrito um livro à mão Além
          do Silêncio publicado pela <span lang="en"
            >National Autistic Society <abbr title="United Kingdom">(UK)</abbr
            ></span
          >.
        </p>

        <p class="mt-4 text-lg tracking-tight text-slate-700">
          A Fundação <span lang="en">Cure Autism Now</span> convidou Tito e Soma para os EUA depois de
          assistirem ao documentário da BBC. Os pais da organização pediram a
          Soma que experimentasse seu método de ensino em seus filhos. O sucesso
          de sua técnica de ensino em sete estudantes não falantes e dois
          seletivamente falantes com autismo lhe rendeu uma bolsa para
          implementar sua técnica com outros estudantes em Los Angeles.
        </p>
        <p class="mt-4 text-lg tracking-tight text-slate-700">
          Seu trabalho foi apresentado no programa de televisão <span lang="en">"60 Minutes"</span> e a
          técnica Soma’ começou a ser chamada de Método de Prompt Rápido (RPM).
          A popularidade do RPM começou a crescer e os pais desenvolveram o
          HALO, oferecendo ao Soma um ambiente de trabalho em tempo integral.
        </p>
        <p class="mt-4 text-lg tracking-tight text-slate-700">
          Soma continua a oferecer seus serviços através de acampamentos HALO,
          oficinas e treinamento para professores e pais. Soma e Tito foram
          apresentados no documentário da BBC e "60 Minutos," assim como a CNN,
          o documentário da HBO "A Motherirates Courage," Revista National
          Geographic Científico Americano Revista Pessoas, e O New York Times.
          Soma tem um bacharelado em Química (honras), mestrado em Química
          Inorgânica e B.Ed. em Educação. Ela faz parte do conselho consultivo
          da "Talk School" na Pensilvânia.
        </p>
      </div>
    </div>
  </div>
</section>
