---
import config from "@/data/site-config.json";

import { BookText, CheckCircle, ArrowRight } from '@lucide/astro';
---

<section class="py-20 bg-white" id="benefits">
  <div class="container mx-auto px-4">
    <div class="max-w-5xl mx-auto">
      <div class="flex items-center justify-center mb-12">
        <div
          class="w-16 h-16 rounded-full bg-gray-100 flex items-center justify-center mr-4"
        >
          <BookText class="w-8 h-8 text-red-500" />
        </div>
        <h2 class="text-3xl md:text-4xl font-bold text-red-500">
          O que você vai descobrir
        </h2>
      </div>

      <div class="bg-gray-50 rounded-2xl p-8 md:p-12 mb-12 shadow-sm">
        <h3 class="text-2xl font-semibold mb-6 text-red-500">
          Introdução ao Método
        </h3>
        <p class="text-lg mb-8 leading-relaxed">
          Você vai entender o que é o Rapid Prompting Method (RPM), como ele é
          aplicado na prática e por que vem transformando a vida de milhares de
          pessoas com autismo ao redor do mundo.
        </p>

        <div class="space-y-5">
          {
            [
              "Como ensinar autistas não falantes ou minimamente falantes com respeito e eficácia",
              "Relatos reais de famílias e profissionais",
              "A importância de presumir competência e inteligência",
              "Estratégias para promover autonomia e aprendizado",
            ].map((benefit) => (
              <div class="flex items-start">
                <CheckCircle class="w-6 h-6 text-green-600 mt-1 mr-3 flex-shrink-0" />
                <p class="text-lg">{benefit}</p>
              </div>
            ))
          }
        </div>

        <div
          class="mt-10 p-6 border-l-4 border-red-500 bg-neutral-200 rounded-r-lg"
        >
          <p class="text-lg font-medium text-gray-800">
            Este livro é um guia essencial para famílias, educadores e
            terapeutas que desejam romper barreiras e enxergar o potencial por
            trás do silêncio.
          </p>
        </div>

        <div class="mt-10 flex justify-center">
          <a
            href={config.checkout.url}
            class="bg-red-600 hover:bg-transparent border-1 hover:border-red-500 text-white hover:text-red-500 font-bold py-4 px-8 rounded-lg flex items-center text-lg transition-all transform hover:scale-105 duration-300"
          >
            Quero aprender o RPM!
            <ArrowRight class="ml-2 w-5 h-5" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
