---
import config from "@/data/site-config.json";

import { BookText, CheckCircle, ArrowRight } from "@lucide/astro";

import Link from "@/components/ui/Link.astro";

const benefits = [
  {
    title: "30 aulas gravadas",
    description:
      " Conteúdos profundos para cura emocional e redescoberta da sua identidade.",
  },
  {
    title: "30 devocionais diários",
    description:
      "Reflexões que vão iluminar sua jornada espiritual todos os dias.",
  },
  {
    title: "1 aula presencial exclusiva (via Zoom)",
    description:
      "Conexão, partilha e fortalecimento da fé com outras mulheres.",
  },
];
---

<section class="py-16" id="benefits">
  <div class="text-center md:mx-auto mb-8 md:mb-12 max-w-3xl">
    <h2
      class="font-bold leading-tighter font-heading tracking-tighter text-heading md:text-4xl text-3xl"
    >
      Benefícios do Metódo
    </h2>
  </div>
  <div class="mx-auto container-custom gap-8 grid md:gap-y-12 sm:grid-cols-2">
    <div>
      <div class="flex flex-row max-w-md">
        <div class="flex justify-center">
          <svg
            class="rtl:mr-0 mr-4 rtl:ml-4 bg-accent-500 h-10 md:h-12 md:p-3 md:w-12 p-2 rounded-full text-white w-10"
            height="1em"
            viewBox="0 0 24 24"
            width="1em"
            data-icon="tabler:checklist"
          >
            <symbol id="ai:tabler:checklist">
              <path
                d="M9.615 20H7a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8m-3 5l2 2l4-4M9 8h4m-4 4h2"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"></path>
            </symbol>
            <use xlink:href="#ai:tabler:checklist"></use>
          </svg>
        </div>
        <div class="mt-0.5">
          <h3 class="font-bold text-xl md:text-[1.3rem]">
            Comunidade exclusiva
          </h3>
          <p class="text-muted mt-3">
            Acesso vitalício a comunidade do Discord para trocar experiências,
            aprender e se inspirar.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="flex flex-row max-w-md">
        <div class="flex justify-center">
          <svg
            class="rtl:mr-0 mr-4 rtl:ml-4 bg-accent-500 h-10 md:h-12 md:p-3 md:w-12 p-2 rounded-full text-white w-10"
            height="1em"
            viewBox="0 0 24 24"
            width="1em"
            data-icon="tabler:heart"
          >
            <symbol id="ai:tabler:heart">
              <path
                d="M19.5 12.572L12 20l-7.5-7.428A5 5 0 1 1 12 6.006a5 5 0 1 1 7.5 6.572"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"></path>
            </symbol>
            <use xlink:href="#ai:tabler:heart"></use>
          </svg>
        </div>
        <div class="mt-0.5">
          <h3 class="font-bold text-xl md:text-[1.3rem]">
            Apoie uma causa nobre
          </h3>
          <p class="text-muted mt-3">
            Se inscrevendo, você investe no seu desenvolvimento e ainda ajuda a
            <a
              class="underline"
              href="https://www.aclouisbraille.org.br/sobre-nos"
              rel="external noopener">Associação de Cegos Louis Braille</a
            >. Vou <strong>doar 10% do valor da mentoria</strong> para a instituição.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="flex flex-row max-w-md">
        <div class="flex justify-center">
          <svg
            class="rtl:mr-0 mr-4 rtl:ml-4 bg-accent-500 h-10 md:h-12 md:p-3 md:w-12 p-2 rounded-full text-white w-10"
            height="1em"
            viewBox="0 0 24 24"
            width="1em"
            data-icon="tabler:chalkboard"
          >
            <symbol id="ai:tabler:chalkboard">
              <g
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              >
                <path
                  d="M8 19H5a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v11a1 1 0 0 1-1 1"
                ></path>
                <path
                  d="M11 17a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1z"
                ></path>
              </g>
            </symbol>
            <use xlink:href="#ai:tabler:chalkboard"></use>
          </svg>
        </div>
        <div class="mt-0.5">
          <h3 class="font-bold text-xl md:text-[1.3rem]">
            Plano de ensino personalizado
          </h3>
          <p class="text-muted mt-3">
            Adaptamos nosso conteúdo para suas metas, garantindo um plano
            exclusivo que promove seu avanço.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="flex flex-row max-w-md">
        <div class="flex justify-center">
          <svg
            class="rtl:mr-0 mr-4 rtl:ml-4 bg-accent-500 h-10 md:h-12 md:p-3 md:w-12 p-2 rounded-full text-white w-10"
            height="1em"
            viewBox="0 0 24 24"
            width="1em"
            data-icon="tabler:books"
          >
            <symbol id="ai:tabler:books">
              <g
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              >
                <path
                  d="M5 5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1zm4 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zM5 8h4m0 8h4"
                ></path>
                <path
                  d="m13.803 4.56l2.184-.53c.562-.135 1.133.19 1.282.732l3.695 13.418a1.02 1.02 0 0 1-.634 1.219l-.133.041l-2.184.53c-.562.135-1.133-.19-1.282-.732L13.036 5.82a1.02 1.02 0 0 1 .634-1.219zM14 9l4-1m-2 8l3.923-.98"
                ></path>
              </g>
            </symbol>
            <use xlink:href="#ai:tabler:books"></use>
          </svg>
        </div>
        <div class="mt-0.5">
          <h3 class="font-bold text-xl md:text-[1.3rem]">
            Materiais acessíveis
          </h3>
          <p class="text-muted mt-3">
            Oferecemos recursos inclusivos, como vídeos com legendas e
            documentos acessíveis.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="flex flex-row max-w-md">
        <div class="flex justify-center">
          <svg
            class="rtl:mr-0 mr-4 rtl:ml-4 bg-accent-500 h-10 md:h-12 md:p-3 md:w-12 p-2 rounded-full text-white w-10 icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"
            height="1em"
            viewBox="0 0 24 24"
            width="1em"
            data-icon="tabler:brand-whatsapp"
          >
            <path
              stroke="#fff"
              fill="none"
              d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path>
            <path
              fill="#fff"
              stroke="none"
              d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
            ></path>
          </svg>
        </div>
        <div class="mt-0.5">
          <h3 class="font-bold text-xl md:text-[1.3rem]">Suporte exclusivo</h3>
          <p class="text-muted mt-3">
            Acesso direto comigo por whatsapp em horário comercial de segunda a
            sábado.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="flex flex-row max-w-md">
        <div class="flex justify-center">
          <svg
            class="rtl:mr-0 mr-4 rtl:ml-4 bg-accent-500 h-10 md:h-12 md:p-3 md:w-12 p-2 rounded-full text-white w-10"
            height="1em"
            viewBox="0 0 24 24"
            width="1em"
            data-icon="tabler:certificate"
          >
            <symbol id="ai:tabler:certificate">
              <g
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              >
                <path d="M12 15a3 3 0 1 0 6 0a3 3 0 1 0-6 0"></path>
                <path d="M13 17.5V22l2-1.5l2 1.5v-4.5"></path>
                <path
                  d="M10 19H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v10a2 2 0 0 1-1 1.73M6 9h12M6 12h3m-3 3h2"
                ></path>
              </g>
            </symbol>
            <use xlink:href="#ai:tabler:certificate"></use>
          </svg>
        </div>
        <div class="mt-0.5">
          <h3 class="font-bold text-xl md:text-[1.3rem]">Certificado</h3>
          <p class="text-muted mt-3">
            Você receberá um certificado de conclusão, comprovando suas
            habilidades.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
