---
import { BookOpen, Instagram, Mail, Heart } from "@lucide/astro";

const currentYear = new Date().getFullYear();
---

<footer class="relative pt-5 bg-accent-500 sm:pt-14 sm:pb-32">
  <div class="text-center">
    <p class="flex items-center justify-center text-white text-sm">
      Feito com <Heart class="w-4 h-4 mx-1 text-white" /> por
      <a
        rel="noopener"
        class="text-white underline px-2"
        href="https://brunopulis.com">Pulis Studio</a
      >
    </p>
  </div>
</footer>
