---
import { BookOpen, Instagram, Mail, Heart } from "@lucide/astro";

const currentYear = new Date().getFullYear();
---

<footer class="relative pt-5 pb-20 sm:pt-14 sm:pb-32">
  <div class="border-t border-gray-800 pt-8 text-center">
    <p class="flex items-center justify-center text-sm">
      Feito com <Heart class="w-4 h-4 mx-1 text-red-500" /> para todas as famílias
      atípicas por
      <a
        rel="noopener"
        class="text-red-600 underline px-2"
        href="https://brunopulis.com">Pulis Studio</a
      >
    </p>
  </div>
</footer>
