---
import config from "@/data/site-config.json";

import { Heart } from "@lucide/astro";

const currentYear = new Date().getFullYear();
---

<footer class="w-full py-14">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="max-w-3xl mx-auto">
      <p class="flex justify-center">{currentYear} - {config.footer.copyright}</p>
      <div class="flex space-x-10 justify-center items-center mb-14">
        Feito com <Heart class="w-4 h-4 mx-1 " /> por
      <a
        rel="noopener"
        class="underline px-2"
        href="https://brunopulis.com">Pulis Studio</a
      >
      </div>
    </div>
  </div>
</footer>
