---
import { Image } from "astro:assets";
import { YouTube } from 'astro-embed';

import heroImage from "/public/assets/images/hero-2.jpg";
---

<section class="hero-section py-16 px-4 bg-[#FDF8F5]">
  <div class="max-w-5xl mx-auto">
    <div class="animate-fade-in-down">
      <div class="text-center mb-8">
        <h1
          class="text-5xl md:text-5xl lg:text-6xl font-bold mb-6 leading-tight"
        >
          Cure as feridas da alma e assuma o controle de suas emoções
        </h1>

        <!-- <Image
          src={heroImage}
          alt="Hero Image"
          class="w-full h-auto rounded-lg shadow-lg mb-6"
          decoding="async"
          loading="lazy"
          width={800}
          height={600}
        /> -->
        <YouTube class="mx-auto py-5 aspect-video h-full mb-5" id="https://youtu.be/xtTy5nKay_Y" />

        <p class="text-xl md:text-2xl">
          Liberte-se das cadeias emocionais e desperte seu verdadeiro propósito
        </p>
        <p class="text-xl md:text-2xl">
          Pronta para uma transformação profunda e significativa?
        </p>
      </div>
    </div>
  </div>
</section>
