---
import Link from "@/components/ui/Link.astro";

const benefits = [
  {
    title: "30 aulas gravadas",
    description: "Romper com ciclos de rejeição, abandono, culpa e autossabotagem.",
  },
  {
    title: "30 devocionais diários",
    description:
      "Desenvolver autoestima e segurança emocional firmadas em sua identidade em Deus.",
  },
  {
    title: "1 aula presencial exclusiva (via Zoom)",
    description:
      "Identificar e transformar padrões de pensamento sabotadores.",
  },
   {
    title: "1 aula presencial exclusiva (via Zoom)",
    description:
      "Reorganizar sua vida emocional, espiritual e prática com ferramentas de autoconhecimento e fé.",
  }
];
---

<section class="py-16 bg-white" id="benefits">
  <div class="text-center md:mx-auto mb-8 md:mb-12 max-w-3xl">
    <p
      class="font-bold dark:text-blue-200 text-base text-secondary tracking-wide text-uppercase"
    >
      Como funciona
    </p>
    <h2
      class="font-bold leading-tighter font-heading tracking-tighter text-heading md:text-4xl text-3xl"
    >
      O que você irá aprender?
    </h2>
  </div>
  <div class="container">
    <ul class="row">
      {
        benefits.map((benefit, index) => (
          <li class="col-lg-3 slide-up" style={`animation-delay: ${index * 100}ms`}>
            <article class="benefits__item">
              <p class="text-gray-600 dark:text-gray-300">
                {benefit.description}
              </p>
            </article>
          </li>
        ))
      }
    </ul>

    <div class="mt-10 flex justify-center">
      <Link
        href="https://chk.eduzz.com/89AQJ7P8WD"
        label="Quero viver essa transformação"
      />
    </div>
  </div>
</section>

<style lang="scss">
  .benefits__item {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease;

    &:hover,
    &:focus {
      transform: translateY(-5px);
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    }
  }
</style>