---
import config from "@/data/site-config.json";
import Button from "@/components/ui/Button.astro";

const benefits = [
  {
    title: "30 aulas gravadas",
    description: "Romper com ciclos de rejeição, abandono, culpa e autossabotagem.",
  },
  {
    title: "30 devocionais diários",
    description:
      "Desenvolver autoestima e segurança emocional firmadas em sua identidade em Deus.",
  },
  {
    title: "1 aula presencial exclusiva (via Zoom)",
    description:
      "Identificar e transformar padrões de pensamento sabotadores.",
  },
   {
    title: "1 aula presencial exclusiva (via Zoom)",
    description:
      "Reorganizar sua vida emocional, espiritual e prática com ferramentas de autoconhecimento e fé.",
  }
];
---

<section id="benefits" class="py-16 bg-[#fff4f2]">
  <!-- Header -->
  <div class="text-center mx-auto mb-12 max-w-3xl">
    <p class="font-bold text-sm text-accent-800 dark:text-blue-200 uppercase tracking-wide">
      Como funciona
    </p>
    <h2 class="font-heading font-bold tracking-tight text-gray-900 text-3xl md:text-4xl leading-tight">
      O que você irá aprender?
    </h2>
  </div>

  <!-- Benefits Grid -->
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
      {
        benefits.map((benefit, index) => (
          <li class={`rounded-xl p-6 bg-white shadow-md animate-fade-in-up delay-[${index * 100}ms]`}>
            <article class="benefits__item">
              <p class="text-gray-600 dark:text-gray-300">
                {benefit.description}
              </p>
            </article>
          </li>
        ))
      }
    </ul>

    <!-- CTA -->
    <div class="mt-10 flex justify-center">
      <Button
        href={config.checkout.url}
        label="Vamos começar essa jornada juntas"
      />
    </div>
  </div>
</section>
