---

---

<section
  id="introduction"
  aria-label="Introduction"
  class="pt-20 pb-16 sm:pb-20 md:pt-36 lg:py-32"
>
  <div
    class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:max-w-4xl lg:px-12 text-lg tracking-tight text-slate-700"
  >
    <h2 class="font-display text-4xl font-bold tracking-tight text-slate-900">
      O que você vai descobrir neste livro?
    </h2>
    <ul class="mt-8 space-y-3">
      <li class="flex">
        <svg
          aria-hidden="true"
          viewBox="0 0 32 32"
          class="h-8 w-8 flex-none fill-primary"
          ><path
            d="M11.83 15.795a1 1 0 0 0-1.66 1.114l1.66-1.114Zm9.861-4.072a1 1 0 1 0-1.382-1.446l1.382 1.446ZM14.115 21l-.83.557a1 1 0 0 0 1.784-.258L14.115 21Zm.954.3c1.29-4.11 3.539-6.63 6.622-9.577l-1.382-1.446c-3.152 3.013-5.704 5.82-7.148 10.424l1.908.598Zm-4.9-4.391 3.115 4.648 1.661-1.114-3.114-4.648-1.662 1.114Z"
          ></path></svg
        >
        <span class="ml-4"
          >O que é o Rapid Prompting Method (RPM) e como ele pode mudar vidas;</span
        >
      </li><li class="flex">
        <svg
          aria-hidden="true"
          viewBox="0 0 32 32"
          class="h-8 w-8 flex-none fill-primary"
          ><path
            d="M11.83 15.795a1 1 0 0 0-1.66 1.114l1.66-1.114Zm9.861-4.072a1 1 0 1 0-1.382-1.446l1.382 1.446ZM14.115 21l-.83.557a1 1 0 0 0 1.784-.258L14.115 21Zm.954.3c1.29-4.11 3.539-6.63 6.622-9.577l-1.382-1.446c-3.152 3.013-5.704 5.82-7.148 10.424l1.908.598Zm-4.9-4.391 3.115 4.648 1.661-1.114-3.114-4.648-1.662 1.114Z"
          ></path></svg
        ><span class="ml-4"
          >Como ensinar autistas não falantes ou minimamente falantes de forma
          respeitosa e eficaz;</span
        >
      </li><li class="flex">
        <svg
          aria-hidden="true"
          viewBox="0 0 32 32"
          class="h-8 w-8 flex-none fill-primary"
          ><path
            d="M11.83 15.795a1 1 0 0 0-1.66 1.114l1.66-1.114Zm9.861-4.072a1 1 0 1 0-1.382-1.446l1.382 1.446ZM14.115 21l-.83.557a1 1 0 0 0 1.784-.258L14.115 21Zm.954.3c1.29-4.11 3.539-6.63 6.622-9.577l-1.382-1.446c-3.152 3.013-5.704 5.82-7.148 10.424l1.908.598Zm-4.9-4.391 3.115 4.648 1.661-1.114-3.114-4.648-1.662 1.114Z"
          ></path></svg
        ><span class="ml-4"
          >Relatos e experiências que comprovam a eficácia do método;</span
        >
      </li><li class="flex">
        <svg
          aria-hidden="true"
          viewBox="0 0 32 32"
          class="h-8 w-8 flex-none fill-primary"
          ><path
            d="M11.83 15.795a1 1 0 0 0-1.66 1.114l1.66-1.114Zm9.861-4.072a1 1 0 1 0-1.382-1.446l1.382 1.446ZM14.115 21l-.83.557a1 1 0 0 0 1.784-.258L14.115 21Zm.954.3c1.29-4.11 3.539-6.63 6.622-9.577l-1.382-1.446c-3.152 3.013-5.704 5.82-7.148 10.424l1.908.598Zm-4.9-4.391 3.115 4.648 1.661-1.114-3.114-4.648-1.662 1.114Z"
          ></path></svg
        ><span class="ml-4"
          >A importância de presumir competência e abrir caminhos para a
          aprendizagem.</span
        >
      </li>
    </ul>
    <p class="mt-8">
      Entenda o Autismo por meio do Rapid Prompting Method é um guia essencial
      para educadores, familiares e profissionais que desejam transformar sua
      abordagem no ensino de pessoas autistas.
    </p>

    <div class="mt-8 flex gap-4">
      <a
        class="inline-flex justify-center uppercase rounded-md py-5 px-5 text-base font-semibold tracking-tight shadow-sm focus:outline-hidden bg-primary text-white hover:bg-transparent focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary active:bg-blue-700 active:text-white/80 disabled:opacity-30 disabled:hover:bg-blue-600"
        color="blue"
        variant="solid"
        href="https://loja.infinitepay.io/alternativainclusiva/pec8887-livro---entenda-o-autismo-por-meio-do-rpm"
        >Quero aprender o <span class="px-1">rpm</span></a
      >
    </div>
  </div>
</section>
