---
import { Image } from "astro:assets";
import Link from "@/components/ui/Link.astro";

import silvana from "/public/assets/images/1.png";
import ludoana from "/public/assets/images/2.png";
---

<section class="py-16 bg-[#FDF8F5]" id="about">
  <div class="container">
    <div class="row text-center mb-4">
      <p class="fw-bold text-uppercase">Conheça suas mentoras</p>
      <h2 class="fw-bold display-5">Quem serão suas mentoras?</h2>
    </div>

    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-lg-6">
        <div class="card h-100">
          <Image
            src={silvana}
            alt="Silvana"
            class="card-img-top"
            decoding="async"
            loading="lazy"
            width={500}
            height={500}
          />

          <div class="card-body">
            <h3 class="card-title text-center">Pr<sup>a</sup>. Silvana</h3>
            <p class="text-accent-500 text-center font-medium">
              Pastora e teológa
            </p>
            <p class="card-text mt-2">
              Formada em Psicologia desde 2007, com Mestrado em Psicologia
              Clínica, Especialização em Logoterapia e Análise Existencial e
              Formação em Terapia Cognitivo Comportamental.
            </p>
            <p class="text-gray-600 mt-2">
              É apaixonada por ajudar mulheres a se tornarem a melhor versão de
              si mesmas, superando desafios e alcançando seus objetivos.
            </p>
          </div>
        </div>
      </div>

      <!-- Team Member 2 -->
      <div class="col-lg-6">
        <div class="card h-100">
          <Image
            src={ludoana}
            alt="Silvana"
            class="card-img-top"
            decoding="async"
            loading="lazy"
            width={500}
            height={500}
          />
          <div class="card-body">
            <h3 class="text-xl font-bold text-center text-gray-800">
              Ludoana Barros
            </h3>
            <p class="text-accent-500 text-center font-medium">Psicóloga</p>
            <p class="card-text mt-2">
              Formada em Psicologia desde 2007, com Mestrado em Psicologia
              Clínica, Especialização em Logoterapia e Análise Existencial e
              Formação em Terapia Cognitivo Comportamental.
            </p>
            <p class="card-text mt-2">
              É apaixonada por ajudar mulheres a se tornarem a melhor versão de
              si mesmas, superando desafios e alcançando seus objetivos.
            </p>
          </div>

          <div></div>
        </div>
      </div>
    </div>

    <div class="row mt-6">
      <div class="mt-12 text-center">
        <p class="text-gray-600">
          Juntas, Silvana e Ludoana trazem uma combinação única de experiência e
          paixão para ajudar você a alcançar seus objetivos.
        </p>
        <p class="text-gray-600 mt-4">
          Elas estão aqui para guiar você em cada passo do caminho, oferecendo
          suporte personalizado e insights valiosos.
        </p>
        <p class="text-gray-600 mt-4">
          Não perca a oportunidade de aprender com essas mentoras incríveis e
          transformar sua jornada de aprendizado!
        </p>
      </div>

      <div class="mt-10 flex justify-center">
        <Link
          href="https://chk.eduzz.com/89AQJ7P8WD"
          label="Quero vive essa transformação"
        />
      </div>
    </div>
  </div>
</section>
