---
import { Image } from "astro:assets";

import Link from "./ui/Link.astro"

import women from "/public/assets/images/mulheres.jpg";
---

<section id="step">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h2 class="fw-bold display-5">Para quem é a mentoria?</h2>
        <p class="lead">Para mulheres cristãs que:</p>

        <ul class="list-unstyled">
          <li>
            <p>
              <strong>Carregam feridas do passado</strong> que impedem seus passos rumo ao futuro que Deus preparou;
            </p>
          </li>
          <li>
            <p><strong>Sentem um vazio inexplicável</strong> mesmo cercadas de pessoas e responsabilidades;</p>
          </li>
          <li>
            <p><strong>Anseiam por autoconhecimento verdadeiro</strong> e cura emocional que perdure;</p>
          </li>
          <li>
            <p><strong>Desejam integrar fé e sabedoria</strong> para viver com autenticidade e propósito;</p>
          </li>
          <li>
            <p><strong>Buscam uma transformação completa</strong>  que vai além de soluções superficiais.</p>
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <Image
          src={women}
          alt="Silvana"
          class="w-full object-cover object-center"
          decoding="async"
          loading="lazy"
          width={500}
          height={500}
        />
      </div>
    </div>
    <div
      class="flex flex-row flex-nowrap gap-4 py-12 m-auto max-w-xs sm:flex-row sm:justify-center sm:max-w-md lg:justify-center"
    >
      <div class="mt-10 flex justify-center">
      <Link
        href="https://chk.eduzz.com/89AQJ7P8WD"
        label="Quero vive essa transformação"
      />
    </div>
    </div>
  </div>
</section>
