---
import { Star } from "@lucide/astro";

const testimonials = [
  {
    quote:
      "Estou vivendo muito mais leve desde que comecei a mentoria. Aprendi a não me prender ao passado nem me angustiar com o futuro - estou vivendo o presente, um dia de cada vez. Hoje consigo admitir erros sem sofrimento, algo que antes não conseguia. Percebo que sofri desnecessariamente por muito tempo, carregando pesos que poderia ter largado.",
    author: "Rosiani",
  },
  {
    quote:
      "O RPM mudou a minha visão, a minha postura e a minha esperança com relação ao meu filho. É uma porta sem volta para a transformação.",
    author: "Rosana Calixto de Melo",
  },
  {
    quote:
      "O RPM mudou a minha visão, a minha postura e a minha esperança com relação ao meu filho. É uma porta sem volta para a transformação.",
    author: "Rosana Calixto de Melo",
  },
  {
    quote:
      "O RPM mudou a minha visão, a minha postura e a minha esperança com relação ao meu filho. É uma porta sem volta para a transformação.",
    author: "Rosana Calixto de Melo",
  },
];
---

<section class="py-20 bg-[#FFF4F2]" id="testimonials">
  <div class="container">
    <div class="row text-center">
      <h2 class="text-3xl md:text-4xl font-bold text-accent-500 mb-4">
        O que nossas alunas estão dizendo
      </h2>
      <p class="text-lg text-gray-600 max-w-3xl">
        Histórias reais de transformação que inspiram.
      </p>
    </div>

    <div class="row">
      {
        testimonials.map(testimonial => (
          <div class="col-lg-4 bg-white">
            <p class="text-lg my-6 text-gray-700 italic leading-relaxed">
              "{testimonial.quote}"
            </p>
            <div class="flex items-center">
              <p class="font-bold text-gray-800">{testimonial.author}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
