---
import { Star } from '@lucide/astro';
---

<section class="py-20 bg-[#FFF4F2]" id="testimonials">
  <div class="container mx-auto px-4">
    <div class="max-w-5xl mx-auto">
      <div class="flex flex-col items-center text-center mb-16">
    
        <h2 class="text-3xl md:text-4xl font-bold text-accent-500 mb-4">
          O que nossas alunas estão dizendo
        </h2>
        <p class="text-lg text-gray-600 max-w-3xl">Histórias reais de transformação que inspiram.</p>
      </div>

      <div class="grid md:grid-cols-2 gap-8 mb-16">
        {[
          {
            quote: "Este livro oferece uma resposta prática para o ensino de pessoas autistas — mesmo aquelas consideradas 'difíceis' ou 'improváveis'.",
            author: "Renata Bonotto",
            stars: 5
          },
          {
            quote: "O RPM mudou a minha visão, a minha postura e a minha esperança com relação ao meu filho. É uma porta sem volta para a transformação.",
            author: "Rosana Calixto de Melo",
            stars: 5
          },
          {
            quote: "O RPM mudou a minha visão, a minha postura e a minha esperança com relação ao meu filho. É uma porta sem volta para a transformação.",
            author: "Rosana Calixto de Melo",
            stars: 5
          },
          {
            quote: "O RPM mudou a minha visão, a minha postura e a minha esperança com relação ao meu filho. É uma porta sem volta para a transformação.",
            author: "Rosana Calixto de Melo",
            stars: 4
          }
        ].map((testimonial) => (
          <div
            class="bg-white p-8 rounded-xl shadow-md hover:shadow-lg transition-shadow duration-300"
          >
            <div class="flex">
              {[...Array(testimonial.stars)].map((_, i) => (
                <Star key={i} class="w-5 h-5 text-yellow-500 fill-current" />
              ))}
            </div>
            <p class="text-lg my-6 text-gray-700 italic leading-relaxed">
              "{testimonial.quote}"
            </p>
            <div class="flex items-center">
              <p class="font-bold text-gray-800">
                {testimonial.author}
              </p>
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>
