---
interface Props {
  href?: string
  label?: string;
}

const { href, label } = Astro.props;

---
<a href={href}
   class="btn btn-secondary text-white">
  {label}
</a>

<style lang="scss">
  a {
    padding: 15px 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
</style>